* {
  margin: 0;
  box-sizing: border-box;
}

.container-line__1 {
  display: flex;
  margin-left: 40px;
}

.container-line__2 {
  display: flex;
  margin-left: 40px;
}
.container-line__3 {
  display: flex;
  margin-left: 40px;
}

input {
  width: 35%;
}

.line {
  text-align: center;
}

.line h1 {
  margin: 0;
  position: absolute;
  top: 50%;
}

.autocomplete {
  text-align: center;
}
