@import 'colors';

* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(153, 153, 153, 0.007);
}

.autocomplete {
    position: relative;
    display: inline-block;
}

input[type=text] {
    background-color: $fedex-platinum;
    width: 100%;
}

input[type=submit] {
    background-color: $fedex-blue;
    color: $fedex-black;
}

.autocomplete-items {
    position: absolute;
    z-index: 1;
    top: 100%;
}

.autocomplete-items div {
    cursor: pointer;
    background-color: $fedex-platinum;
}

// for hovering over a selection
.autocomplete-items div:hover {
    background-color: $fedex-platinum;
}

// for toggling through selections
.autocomplete-active {
    color: $fedex-black;
}

.container-line__1 {
    display: flex;
    margin-left: 40px;
}

.container-line__2 {
    display: flex;
    margin-left: 40px;
}

.container-line__3 {
    display: flex;
    margin-left: 40px;
}

h1 {
    color: $fedex-purple;
}

input {
    width: 35%;
    /* border: ; */
}

/* .work-area {
} */
.line {
    text-align: center;
}

.line h1 {
    margin: 0;
    position: absolute;
    top: 50%;
}

.autocomplete {
    text-align: center;
}

label:hover {
    color: $fedex-orange;
}